@font-face {
  font-family: 'Ubuntu Regular';
  src: url('../assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url('../assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu BoldItalic';
  src: url('../assets/fonts/Ubuntu-BoldItalic.ttf') format('truetype');
}
